.offers__headings{
    text-align: center;
    padding: 1em 0rem;
    font-weight: 600;
    color: rgb(34, 165, 34);
}
.offers__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;
}