body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Raleway', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
 --root-color:#4d5abb
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  max-width: 1800px;
  margin: 0em auto;
}
body{
  background-color: rgb(226, 226, 226);
}
.progressBar{
  position: fixed;
  z-index: 1000;
  
}